.titulo{
  text-align: center;
  color: orange;
}
.logo{
  width: 30px;
  height: 30px;
}
footer{
  opacity: 90%;
  text-align: center;
  background-color:#F9F9F9;
  position: relative;
  margin-bottom: 10px;
  justify-content: center;
  bottom: 0;
}
.h3-medio{
  text-align: center;
  color: orange;
}
.div-medio{
  text-align: center;

}
body{
  background-image: url(../img/fondobody.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



